<a href="https://colab.research.google.com/github/sripathiamulya15/2025-26-4103-S.Amulya-AI-B-DS/blob/main/tupleoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***DATE : 3/2/2026***

In [ ]:
# Creating tuples
t = (10, 20, 30, 40, 20)
print("Original tuple:", t)

Original tuple: (10, 20, 30, 40, 20)

In [ ]:
# Accessing elements
t = (10, 20, 30, 40, 20)
print("First element:", t[0])
print("Last element:", t[-1])

First element: 10
Last element: 20

In [ ]:
# Slicing
t = (10, 20, 30, 40, 20)
print("Sliced tuple:", t[1:4])

Sliced tuple: (20, 30, 40)

In [ ]:
# Length
t = (10, 20, 30, 40, 20)
print("Length of tuple:", len(t))

Length of tuple: 5

In [ ]:
# Counting elements
t = (10, 20, 30, 40, 20)
print("Count of 20:", t.count(20))

Count of 20: 2

In [ ]:
# Finding index
t = (10, 20, 30, 40, 20)
print("Index of 40:", t.index(40))

Index of 40: 3

In [ ]:
#Looping
t = (10, 20, 30, 40, 20)
print("Tuple elements:")
for item in t:
    print(item)

Tuple elements:
10
20
30
40
20

In [ ]:
# Concatenation
t = (10, 20, 30, 40, 20)
t2 = (50, 60)
t3 = t + t2
print("After concatenation:", t3)

After concatenation: (10, 20, 30, 40, 20, 50, 60)

In [ ]:
# Repetition
t = (10, 20, 30, 40, 20)
t4 = t * 2
print("After repetition:", t4)

After repetition: (10, 20, 30, 40, 20, 10, 20, 30, 40, 20)

In [ ]:
# Nested tuple
t = (10, 20, 30, 40, 20)
nested = (1, (2, 3), (4, 5))
print("Nested tuple element:", nested[1][0])

Nested tuple element: 2