<a href="https://colab.research.google.com/github/sripathiamulya15/2025-26-4103-S.Amulya-AI-B-DS/blob/main/datamanipulations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#FILTERING DATA FROM DICTIONARIES
import pandas as pd
data={
    "Name":['John','Alice','Jay','Mark'],
    "Age":[20,21,22,19],
    "Marks":[70,85,75,90]
}
df=pd.DataFrame(data)
print("Original data:")
print(df)
#Filtering data
print("Alice's data:")
print(df[df["Name"]=='Alice'])
print("Students with marks less than 85:")
print(df[df["Marks"]<85])
print("Students with marks greater than 75 and age less than 20:")
print(df[(df["Age"]>20)&(df["Marks"]>75)])

Original data:
    Name  Age  Marks
0   John   20     70
1  Alice   21     85
2    Jay   22     75
3   Mark   19     90
Alice's data:
    Name  Age  Marks
1  Alice   21     85
Students with marks less than 85:
   Name  Age  Marks
0  John   20     70
2   Jay   22     75
Students with marks greater than 75 and age less than 20:
    Name  Age  Marks
1  Alice   21     85

In [17]:
#DATA MANIPULATION OPERATIONS
import pandas as pd
data={
    'Name':['A','B','C'],
    'Age':[20,21,22],
    'Marks':[70,80,90]
}
df=pd.DataFrame(data)
print("Original data:")
print(df)
#Adding a new column
df['Bonus']=5
print("After adding bonus:")
print(df)
#increasing marks
df['Marks']=df['Marks']+2
print("\nAfter increasing marks:")
print(df)
#create new column from existing columns
df["Total"]=df["Marks"]+df["Bonus"]
print("\nAfter adding total:")
print(df)
#change values
df.loc[1,"Age"]=23
print("\nAfter changing age:")
print(df)
#renaming column
df.rename(columns={"Total":"Final"},inplace=True)
print("\nAfter renaming:")
print(df)
#removing a column
df.drop("Bonus",axis=1,inplace=True)
print("\nAfter removing bonus:")
print(df)

Original data:
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90
After adding bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

After increasing marks:
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5

After adding total:
  Name  Age  Marks  Bonus  Total
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

After changing age:
  Name  Age  Marks  Bonus  Total
0    A   20     72      5     77
1    B   23     82      5     87
2    C   22     92      5     97

After renaming:
  Name  Age  Marks  Bonus  Final
0    A   20     72      5     77
1    B   23     82      5     87
2    C   22     92      5     97

After removing bonus:
  Name  Age  Marks  Final
0    A   20     72     77
1    B   23     82     87
2    C   22     92     97