<a href="https://colab.research.google.com/github/sripathiamulya15/2025-26-4103-S.Amulya-AI-B-DS/blob/main/Week-3/datasetoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 13

In [8]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)
print("Original dataset:")
print(df.head())
print("Records where total bill>20 and tip>3:")
filtered_and=df[(df['total_bill']>20) & (df['tip']>3)]
print(filtered_and)
print("Records where day is saturday or sunday")
filtered_or=df[(df['day']=='Sat') | (df['day']=='Sun')]
print(filtered_or)
print("Records where smoker is NOT yes:")
filtered_not=df[~(df['smoker']=='Yes')]
print(filtered_not)
print("\nFemale and non smoker and total bill>15")
combined = df[(df['sex'] == 'Female') & (df['smoker'] == 'No') & (df['total_bill'] > 15)]
print(combined)
print("\nNumber of records satisfying combined condition:",len(combined))

Original dataset:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
Records where total bill>20 and tip>3:
     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
212       48.33  9.00    Male     No  Sat  Dinner     4
214       28.17  6.50  Female    Yes  Sat  Dinner     3
219       30.14  3.09  Female    Yes  Sat  Dinner     4
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3

[67 rows x 7 columns]
Records where day is saturday or sunday
     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]
Records where smoker is NOT yes:
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
235       10.07  1.25    Male     No   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[151 rows x 7 columns]

Female and non smoker and total bill>15
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
18        16.97  3.50  Female     No   Sun  Dinner     3
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
32        15.06  3.00  Female     No   Sat  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
37        16.93  3.07  Female     No   Sat  Dinner     3
52        34.81  5.20  Female     No   Sun  Dinner     4
57        26.41  1.50  Female     No   Sat  Dinner     2
66        16.45  2.47  Female     No   Sat  Dinner     2
71        17.07  3.00  Female     No   Sat  Dinner     3
85        34.83  5.17  Female     No  Thur   Lunch     4
94        22.75  3.25  Female     No   Fri  Dinner     2
104       20.92  4.08  Female     No   Sat  Dinner     2
114       25.71  4.00  Female     No   Sun  Dinner     3
115       17.31  3.50  Female     No   Sun  Dinner     2
119       24.08  2.92  Female     No  Thur   Lunch     4
125       29.80  4.20  Female     No  Thur   Lunch     6
131       20.27  2.83  Female     No  Thur   Lunch     2
134       18.26  3.25  Female     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
143       27.05  5.00  Female     No  Thur   Lunch     6
144       16.43  2.30  Female     No  Thur   Lunch     2
146       18.64  1.36  Female     No  Thur   Lunch     3
155       29.85  5.14  Female     No   Sun  Dinner     5
157       25.00  3.75  Female     No   Sun  Dinner     4
162       16.21  2.00  Female     No   Sun  Dinner     3
223       15.98  3.00  Female     No   Fri   Lunch     3
238       35.83  4.67  Female     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

Number of records satisfying combined condition: 33